.navigation {
    position: fixed;
    width: 100%;
    background-color: $color-grey;
    top: 0;
    z-index: 999;

    &__container {
        z-index: 50;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        background-color: $color-grey;
    }

    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        list-style-type: none;
        position: absolute;
        left: 17px;
        display: none;

        & li:first-child {
            margin-right: 24px;
        }

        @include responsive-breakpoints-up($breakpoint-small) {
            left: 38px;
            display: flex;
        } 

        @include responsive-breakpoints-up(980px) {
            display: flex;
            left: 0;
        } 

        &-item {
            color: $color-dark-lighten;
            text-decoration: none;
        }
    }

    &__mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: absolute;
        left: 17px;
        width: 35px;

        @include responsive-breakpoints-up($breakpoint-small) {
            display: none;
        } 

        &-list {
            list-style-type: none;
            padding: 14px 0;
            margin-left: 48px;
            width: 100%;

            &-item {
                color: $color-dark-lighten;
                text-decoration: none;
            }
        }

        &-panel {
            z-index: 40;
            top: 99%;
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: $color-grey;
            transform: translateY(-100%);
            @include transition(transform)
        } 
    }
    

    &__logo {
        padding: 14px 0;

        @include responsive-breakpoints-up($breakpoint-small) {
            padding: 20px 0;
        } 

        &-text {
            color: $color-dark;
            font-weight: 700;
        }
    }
}
