@import './mixins.scss';
@import './colors.scss';
@import './breakpoints.scss';
@import './font.scss';
@import '../sections/Navigation/navigation.scss';
@import '../sections/Hero/hero.scss';
@import '../sections/Features/features.scss';
@import '../sections/Subscribe/subscribe.scss';
@import '../sections/Product/product.scss';
@import '../sections/Quality/quality.scss';
@import '../sections/Carousel/carousel.scss';
@import '../sections/Process/process.scss';
@import '../sections/Faq/faq.scss';

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 938px;
    margin: 0 auto;
}

.hide {
    display: none;
}

.width-min {
    width: min-content;
}
